body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.highlight{
    color: orange;
}
.half-width{
    width: 40%;
    margin-left: 3%;
    float: left;
    padding-left: 3%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-btn{
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-image: linear-gradient(40deg,lightsalmon,tomato);
    padding:10px 20px;
    border-radius: 5px;
    font-weight: 700;
}

.dream-bg{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
